<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" >
    <!--nombre-->
    <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                class="form-control" 
                placeholder="Nombre de la persona" 
                type="text">
            <span class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
    </div>
    <!--agregar juego-->
    <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input                    
                    class="form-control" 
                    placeholder="Agrgar favorito">
                <button 
                    class="btn btn-outline-primary"  
                    type="button">
                    Agregar
                </button>
            </div>            
        </div>
    </div>
    <!--lista de juegos-->
    <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <!--
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
                <input 
                class="form-control">
                <button (click)="eliminar(i)"
                    class="btn btn-outline-danger"
                    type="button">
                    Borrar
                </button>
            </div>
        -->
                        
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end" 
                >
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<!--
    <pre>{{persona|json}}</pre>
-->
